<h1><%= @casa_abrigo.nome %></h1>
<table class="table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>documento</th>
    <th>endereco</th>
    <th>telefone</th>
    <th>email</th>
    <th>site</th>
    <th>Dados Bancarios</th>
  </tr>
  </thead>
  
  
  <tbody>
  <tr>
    <h1><td><%= @casa_abrigo.nome %></td></h1>
     
    <td><%= @casa_abrigo.documento %></td>
    
    <td><%= @casa_abrigo.endereco %></td>
    
    <td><%= @casa_abrigo.telefone %></td>
    
    <td><%= @casa_abrigo.email %></td>
    
    <td><%= @casa_abrigo.site %></td>
    
    <td><%= @casa_abrigo.dadosBanc %></td>
  </tr>
  </tbody>
  
</table>


 
 
 
 