<%# if logged_in? %>
  <% provide(:title, 'Cadastro') %>
  <h1 class="cabecalhos">Cadastrar Animal</h1>
  <div class="row">
  
  <div class="posicao-geometricas">
    
   <svg class="forma-laranja" width="130" height="262" viewBox="0 0 130 262" fill="none" xmlns="http://www.w3.org/2000/svg">
   <rect width="130" height="262" rx="65" fill="#F7A14A"/>
   </svg>
  
   <svg class="forma-verde" width="168" height="212" viewBox="0 0 168 212" fill="none" xmlns="http://www.w3.org/2000/svg">
   <rect width="168" height="212" rx="10" fill="#32771B"/>
   </svg>
  
  </div>
  
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@animal, url: newanimal_path) do |f| %>
        
        <div class="form-group">
          <%= f.label :nome %>
          <%= f.text_field :nome, class: "form-control" %>
        </div>
          
        <div class="form-group">
          <%= f.label :tipo %>
          <%= f.text_field :tipo, class: "form-control" %>
        </div>
        
        <div class="form-group">
         <label for="raca">Raça</label>
          <%= f.text_field :raca, class: "form-control" %>
        </div>  
        
        <div class="form-group">
          <%= f.label :tamanho %>
          <%= f.number_field :tamanho, class: "form-control",:step => 0.01 %>
        </div>  
        
        <div class="form-group">
          <%= f.label :peso %>
          <%= f.number_field :peso, class: "form-control",:step => 0.01 %>
        </div>  
        
        <div class="form-group">
          <%= f.label :idade %>
          <%= f.number_field :idade, class: "form-control" %>
        </div> 
        
        <!--<div class="form-group">-->
        <!--  <%#= f.label :foto %>-->
        <!--  <%#= f.file_field :foto %>-->
        <!--</div> -->
        
        <div class="form-group">
         
           <div class="field">
            <%= f.label :sexo %><br/>
            <%= f.radio_button :sexo, "macho"  %>
            <%= f.label :sexo, "Macho" %>
            <br>
            <%= f.radio_button :sexo, "femea"  %>
            <%= f.label :sexo, "Fêmea" %>
            <br>
             <%= f.radio_button :sexo, "Indefinido"%>
            <%= f.label :sexo, "Indefinido" %>
           
          </div>
                  
        </div>  
        
        <div class="form-group">
          <%= f.label :resumo %>
     
           <%= f.text_field :resumo, class: "form-control" %>
        </div>
        
        
        
      
        
        <%= f.hidden_field :casa_abrigo, value: get_casa_id %>
        
        <%= f.submit "Adicionar Post", class: "btn botao-laranja mt-1" %>
      <% end %>
    </div>
  </div>
            
            
 <%# end %> 
 