<br>
<table>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Raça</th>
    <th>Tamanho</th>
    <th>idade</th>
    <th>Peso</th>
    <th>Sexo</th>
    <th>Resumo</th>
  </tr>
  
  <tr>
    <h1><td><%= @animal.nome %></td></h1>
     
    <td><%= @animal.tipo %></td>
    
    <td><%= @animal.raca %></td>
    
    <td><%= @animal.tamanho %></td>
    
    <td><%= @animal.idade %></td>
    
    <td><%= @animal.peso %></td>
    
    <td><%= @animal.sexo %></td>
    
       <td><%= @animal.resumo %></td>
  </tr>
  
</table>
  <hr>

 
 
 
 
 